<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320564611786-9i0pis16mdo6d0nrcf3bjpl974cetkva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320564611786-9i0pis16mdo6d0nrcf3bjpl974cetkva</string>
	<key>API_KEY</key>
	<string>AIzaSyDJq279edzVatMr3oEDtdIR0DIV00DwgZI</string>
	<key>GCM_SENDER_ID</key>
	<string>320564611786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nextline.jaspesoft.com</string>
	<key>PROJECT_ID</key>
	<string>nextline-2ac90</string>
	<key>STORAGE_BUCKET</key>
	<string>nextline-2ac90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320564611786:ios:35b2cfdcd0e7856c4b8233</string>
	<key>DATABASE_URL</key>
	<string>https://nextline-2ac90.firebaseio.com</string>
</dict>
</plist>